{% extends 'base.html' %}
{% block content %}

<div class="content">
    <div class="">
        <div class="page-header-title">
            <h4 class="page-title">Examenes Médicos</h4>
            <!--- 
            <div style="text-align:right;">
                <button type="button" class="btn btn-success waves-effect waves-light"
                        onClick=" window.location.href='/measurementcreate' " style="text-align:center;">+
                </button>
            </div>
            --->
        </div>
    </div>

    <br>

    <div class="page-content-wrapper">
        <div class="container">
            <!-- Content page -->

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                        <tr style="color:#0E2EB0">
                            <th font color="red">ID</th>
                            <th>Nombre Examen</th>
                            <th>Tipo de Examen</th>
                            <th>Fecha de Realización</th>
                            <th>Resultado</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for ExamenMedico in examenes_list %}
                        <tr>
                            <td>{{ ExamenMedico.id_Examen_Medico }}</td>
                            <td>{{ ExamenMedico.nombre }}</td>
                            <td>{{ ExamenMedico.tipo }}</td>
                            <td>{{ ExamenMedico.fecha_realizacion }}</td>
                            <td>{{ ExamenMedico.resultado }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                    <div style="text-align:center;">
                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                onClick=" window.location.href='/ExamenCreate' ">
                            Back
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}